# 忽略 build 产物
*/build/
*build/
.dart_tool/

# 忽略 IDE
.idea/
.vscode/

# 忽略系统文件
.DS_Store
*.swp

# 忽略 Python
__pycache__/
*.pyc
.env

# VisitCN App
visitcn_app/build/
visitcn_app/.dart_tool/
visitcn_app/.packages
visitcn_app/pubspec.lock

# Flutter
*.apk
*.ipa
*.dill

# Demo
demo/venv/
